In [1]:
options(error = recover)
library('segmented')
library('lubridate')
library('ggplot2')
library(zoo)
library('reshape2')
library('PerformanceAnalytics')
library('RColorBrewer')
library('pracma')
library('fields')
library(gplots)
require('caret')

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric

Loading required package: xts

Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend

Loading required package: spam
Loading required package: grid
Spam version 1.0-1 (2014-09-09) is loaded.
Type 'help( Spam)' or 'demo( spam)' for a short introduction
and overview of this package.
Help for individual functions is also obtained by adding the
suffix '.spam' to the function name, e.g. 'help( chol.spam)'.

Attaching package: ‘spam’

The following objects are masked from ‘package:base’:

    backsolve, forwardsolve

Loading required package: maps

Attaching package: ‘gplots’

The following object is masked from ‘package:PerformanceAnalytics’:

    textplot

The following object is masked from ‘package:stats’:

    lowess

Loading required package: caret
Loading required package: lattice

In [2]:
setwd("~/EnergyAnalytics/thermal_profiles/")

In [3]:
DATA_PATH = '~/S3L_server/energy-data/pecan_street/usage-select/'
DUMP_PATH = '~/S3L_server/energy-data/pecan_street/models_2/'
PLOT_PATH = '~/S3L_server/plots/pecan-street-2/'
MODEL_PATH= '~/S3L_server/energy-data/pecan_street/models_2/'

##Gather relevant data

In [4]:
# load user names
user_names = read.csv('~/S3L_server/energy-data/pecan_street/metadata/user_names_ids.csv')
user_names$X = NULL

# list all data files
files    = list.files(path=DATA_PATH, full.names = T, recursive = T)
files    = files[grep('60min',files)]

# extract ID
users_df = data.frame(UID = as.character(sapply(files, function(s) strsplit(tail(strsplit(s, '/')[[1]], 1), '\\.')[[1]][1])))
rownames(users_df) = NULL
    
# build original data sources dataframe
users_df = merge(users_df, user_names, by.x="UID", by.y="ID")
users_df['file'] = files

In [5]:
head(users_df)

   UID   name
1 1069    Edd
2 1086  Emery
3 1105  Grant
4  114  James
5 1167 Jerome
6 1169 George
                                                                                  file
1 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1069.csv
2 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1086.csv
3 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1105.csv
4  /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/114.csv
5 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1167.csv
6 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1169.csv

In [6]:
# models 
files_dec = list.files(path=MODEL_PATH, pattern="*decoded", full.names = T, recursive = T)
f_dum = function(x) {
    tmp = tail(strsplit(x, '/')[[1]],n=2)
    res = tmp[1]
    nfo = strsplit(tmp[2], "_")[[1]]
    uid = nfo[1]; name = nfo[2]; 
    return(c(uid,name,res,x))
}
model_paths_dec = data.frame(do.call('rbind', lapply(files_dec, f_dum)))

if (length(model_paths_dec)>0) names(model_paths_dec) <- c("UID", "name", "grain", "file_model")

In [7]:
model_paths_dec = subset(model_paths_dec, grain=="60min")

In [8]:
head(model_paths_dec)

   UID   name grain
1 1069    Edd 60min
2 1086  Emery 60min
3 1105  Grant 60min
4  114  James 60min
5 1167 Jerome 60min
6 1169 George 60min
                                                                                                     file_model
1       /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1069_Edd/60min/1069_Edd_decoded.RData
2   /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1086_Emery/60min/1086_Emery_decoded.RData
3   /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1105_Grant/60min/1105_Grant_decoded.RData
4     /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//114_James/60min/114_James_decoded.RData
5 /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1167_Jerome/60min/1167_Jerome_decoded.RData
6 /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1169_George/60min/1169_George_decoded.RData

In [9]:
files_info = merge(model_paths_dec, users_df, by=c("UID", "name"))

In [10]:
dim(files_info)

[1] 301   5

In [11]:
head(files_info)

   UID   name grain
1 1069    Edd 60min
2 1086  Emery 60min
3 1105  Grant 60min
4  114  James 60min
5 1167 Jerome 60min
6 1169 George 60min
                                                                                                     file_model
1       /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1069_Edd/60min/1069_Edd_decoded.RData
2   /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1086_Emery/60min/1086_Emery_decoded.RData
3   /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1105_Grant/60min/1105_Grant_decoded.RData
4     /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//114_James/60min/114_James_decoded.RData
5 /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1167_Jerome/60min/1167_Jerome_decoded.RData
6 /Users/adrianalbert/S3L_server/energy-data/pecan_street/models_2//1169_George/60min/1169_George_decoded.RData
                                                                                  file
1 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1069.csv
2 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1086.csv
3 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1105.csv
4  /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/114.csv
5 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1167.csv
6 /Users/adrianalbert/S3L_server/energy-data/pecan_street/usage-select//60min/1169.csv

In [54]:
f_load_data = function(row) {
    # access decoded data    
    load(as.character(as.character(row$file_model)));
    df = data$df
    nStates= data$nStates
    df     = cbind(df, data$state)
    df$TemperatureD = df$Temperature - 65
    resp   = data$response   
    df$TemperatureF = NULL
    
    # load raw data
    df_orig = read.csv(as.character(row$file))
    df = merge(df, df_orig, by.y="date", by.x="timestamps")
    df$HVAC = 0
    if ('C' %in% names(df)) df$HVAC = df$HVAC + df$C
    if ('H' %in% names(df)) df$HVAC = df$HVAC + df$H        

    # format model parameters for easy analysis access
    volatility = lapply(1:nStates, function(s) { z = c(mu = 0, sd = resp$stdev[s]); names(z) = c('mu', 'sd'); z})
    baseload   = lapply(1:nStates, function(s) { 
        this_mu = resp$means['(Intercept)', s]
        if (class(resp$stderr) == 'list') this_sd = resp$stderr[[s]]['(Intercept)'] else this_sd = resp$stderr['(Intercept)', s]
        z = c(mu = this_mu, sd = this_sd) 
    })
    response   = lapply(1:nStates, function(s) { 
        this_mu = resp$means['TemperatureD', s]
        if (class(resp$stderr) == 'list') this_sd = resp$stderr[[s]]['TemperatureD'] else this_sd = resp$stderr['TemperatureD', s]
        z = c(mu = this_mu, sd = this_sd) 
    })
    
    res = list(volatility = volatility, 
               baseload = baseload, 
               response = response, 
               nStates = nStates,
               data = df)
    gc()
    return(res)
}

In [55]:
# first load data
res_lst = list()
for (i in 1:nrow(files_info)) {
    if (i %% 100 == 0) print(sprintf("%d/%d", i, nrow(files_info)))
    row = files_info[i,]
    res = f_load_data(row)   
    res_lst[[length(res_lst)+1]] = res
}

[1] "100/301"
[1] "200/301"
[1] "300/301"

##HVAC/Occupancy detection

In [56]:
f_compute_performance <- function(res, theta_m, theta_t) {

    # Model-derived detection decisions
    b_ts = sapply(res$data$state, function(s) res$baseload[[s]]['mu'])
    a_ts = abs(sapply(res$data$state, function(s) res$response[[s]]['mu']))
    s_ts = sapply(res$data$state, function(s) res$volatility[[s]]['sd'])
    model_occ = sapply(s_ts / min(sapply(1:length(res$volatility), function(s) res$volatility[[s]]['sd'])),
        function(x) if (x>theta_m) return("Home") else return("Away"))
    model_res = sapply(a_ts / min(abs(sapply(1:length(res$response), function(s) res$response[[s]]['mu']))),
        function(x) if (x>theta_m) return("HVAC on") else return("HVAC off"))

    #  Ground-truth derived detection decisions
    if ('user' %in% names(res$data)) user_kwh = res$data$user else user_kwh = rep(0, nrow(res$data)) #res$data$nonHVAC
    
    q_occ    = quantile(user_kwh, theta_t, na.rm=T) 
    true_occ = sapply(user_kwh, function(x) if (is.na(x)) return(NA) else 
        if (x > q_occ) return("Home") else return("Away"))
    q_res    = quantile(res$data$HVAC, theta_t, na.rm=T)
    true_res = sapply(res$data$HVAC, function(x) if (is.na(x)) return(NA) else 
        if (x > q_res) return("HVAC on") else return("HVAC off"))

    conf_res <- confusionMatrix(factor(model_res, levels=c("HVAC off", "HVAC on")), factor(true_res, levels=c("HVAC off", "HVAC on")))$byClass
    conf_occ <- confusionMatrix(factor(model_occ, levels=c("Away", "Home")), factor(true_occ, levels=c("Away", "Home")))$byClass
        
    # performance metrics
    acc_res <- conf_res[['Balanced Accuracy']]
    acc_occ <- conf_occ[['Balanced Accuracy']]
        
    # two-way agreement accuracy
    occ_names = c("Away", "Home"); res_names = c("HVAC off", "HVAC on")
    tab = matrix(0,nrow=2, ncol=2); colnames(tab) = occ_names; rownames(tab) = res_names; 
    tab_model = matrix(0,nrow=2, ncol=2); colnames(tab_model) = occ_names; rownames(tab_model) = res_names; 
    tab_truth = matrix(0,nrow=2, ncol=2); colnames(tab_truth) = occ_names; rownames(tab_truth) = res_names; 
    for (v1 in res_names)
        for (v2 in occ_names) {
            i1 = sum((model_res == v1) & (model_occ == v2) & (true_res == v1) & (true_occ == v2))
            i2 = sum((true_res == v1) & (true_occ == v2))
            tab[v1,v2] = i1/i2
            tab_model[v1,v2] = sum((model_res == v1) & (model_occ == v2)) / length(model_res)
            tab_truth[v1,v2] = sum((true_res == v1) & (true_occ == v2)) / length(true_res)
        }
        
    return(list(accuracy=c(hvac=acc_res, occup=acc_occ), model=round(tab_model, digits=2), true=round(tab_truth, digits=2), match=round(tab, digits=2)))
}

Sensitivity analysis

In [57]:
# Vary theta_m and theta_p
accuracy_lst = list()
match_lst = list()
model_lst = list()
truth_lst = list()
for (theta_m in c(1, 2, 3, 4, 5)) {
    for (theta_t in c(0.10, 0.15, 0.20, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75)) {
        print(sprintf("theta_m=%d, theta_p=%2.3f", theta_m, theta_t))
        result = list()
        for (res in res_lst) {
            tmp = f_compute_performance(res, theta_m, theta_t)
            result[[length(result)+1]] = tmp
        }
        names(result) <- files_info[,'name']
            
        # format accuracy
        accuracy = t(sapply(result, function(x) x$accuracy))
        accuracy = as.data.frame(accuracy)
        accuracy$theta_m = theta_m; accuracy$theta_t = theta_t; accuracy$name = files_info[,"name"]
        accuracy_lst[[length(accuracy_lst)+1]] = accuracy
        # format true percentages
        tab_all = t(sapply(result, function(x) x$true))
        colnames(tab_all) = c("HVAC off, Away", "HVAC on, Away", "HVAC off, Home", "HVAC on, Home")
        tab_all = as.data.frame(tab_all)
        tab_all$theta_m = theta_m; tab_all$theta_t = theta_t; tab_all$name = files_info[,'name']
        truth_lst[[length(truth_lst)+1]] = tab_all
        # format model percentages
        tab_all = t(sapply(result, function(x) x$model))
        colnames(tab_all) = c("HVAC off, Away", "HVAC on, Away", "HVAC off, Home", "HVAC on, Home")
        tab_all = as.data.frame(tab_all)
        tab_all$theta_m = theta_m; tab_all$theta_t = theta_t; tab_all$name = files_info[,'name']
        model_lst[[length(model_lst)+1]] = tab_all
        # format match
        tab_all = t(sapply(result, function(x) x$match))
        colnames(tab_all) = c("HVAC off, Away", "HVAC on, Away", "HVAC off, Home", "HVAC on, Home")
        tab_all = as.data.frame(tab_all)
        tab_all$theta_m = theta_m; tab_all$theta_t = theta_t; tab_all$name = files_info[,'name']
        match_lst[[length(match_lst)+1]] = tab_all
    }
}
match_df = do.call("rbind", match_lst)
accuracy_df = do.call("rbind", accuracy_lst)
truth_df = do.call("rbind", truth_lst)
model_df = do.call("rbind", model_lst)

[1] "theta_m=1, theta_p=0.100"
[1] "theta_m=1, theta_p=0.150"
[1] "theta_m=1, theta_p=0.200"
[1] "theta_m=1, theta_p=0.250"
[1] "theta_m=1, theta_p=0.300"
[1] "theta_m=1, theta_p=0.350"
[1] "theta_m=1, theta_p=0.400"
[1] "theta_m=1, theta_p=0.450"
[1] "theta_m=1, theta_p=0.500"
[1] "theta_m=1, theta_p=0.550"
[1] "theta_m=1, theta_p=0.600"
[1] "theta_m=1, theta_p=0.650"
[1] "theta_m=1, theta_p=0.700"
[1] "theta_m=1, theta_p=0.750"
[1] "theta_m=2, theta_p=0.100"
[1] "theta_m=2, theta_p=0.150"
[1] "theta_m=2, theta_p=0.200"
[1] "theta_m=2, theta_p=0.250"
[1] "theta_m=2, theta_p=0.300"
[1] "theta_m=2, theta_p=0.350"
[1] "theta_m=2, theta_p=0.400"
[1] "theta_m=2, theta_p=0.450"
[1] "theta_m=2, theta_p=0.500"
[1] "theta_m=2, theta_p=0.550"
[1] "theta_m=2, theta_p=0.600"
[1] "theta_m=2, theta_p=0.650"
[1] "theta_m=2, theta_p=0.700"
[1] "theta_m=2, theta_p=0.750"
[1] "theta_m=3, theta_p=0.100"
[1] "theta_m=3, theta_p=0.150"
[1] "theta_m=3, theta_p=0.200"
[1] "theta_m=3, theta_p=0.250"
[1] "theta_m=3, theta_p=0.300"
[1] "theta_m=3, theta_p=0.350"
[1] "theta_m=3, theta_p=0.400"
[1] "theta_m=3, theta_p=0.450"
[1] "theta_m=3, theta_p=0.500"
[1] "theta_m=3, theta_p=0.550"
[1] "theta_m=3, theta_p=0.600"
[1] "theta_m=3, theta_p=0.650"
[1] "theta_m=3, theta_p=0.700"
[1] "theta_m=3, theta_p=0.750"
[1] "theta_m=4, theta_p=0.100"
[1] "theta_m=4, theta_p=0.150"
[1] "theta_m=4, theta_p=0.200"
[1] "theta_m=4, theta_p=0.250"
[1] "theta_m=4, theta_p=0.300"
[1] "theta_m=4, theta_p=0.350"
[1] "theta_m=4, theta_p=0.400"
[1] "theta_m=4, theta_p=0.450"
[1] "theta_m=4, theta_p=0.500"
[1] "theta_m=4, theta_p=0.550"
[1] "theta_m=4, theta_p=0.600"
[1] "theta_m=4, theta_p=0.650"
[1] "theta_m=4, theta_p=0.700"
[1] "theta_m=4, theta_p=0.750"
[1] "theta_m=5, theta_p=0.100"
[1] "theta_m=5, theta_p=0.150"
[1] "theta_m=5, theta_p=0.200"
[1] "theta_m=5, theta_p=0.250"
[1] "theta_m=5, theta_p=0.300"
[1] "theta_m=5, theta_p=0.350"
[1] "theta_m=5, theta_p=0.400"
[1] "theta_m=5, theta_p=0.450"
[1] "theta_m=5, theta_p=0.500"
[1] "theta_m=5, theta_p=0.550"
[1] "theta_m=5, theta_p=0.600"
[1] "theta_m=5, theta_p=0.650"
[1] "theta_m=5, theta_p=0.700"
[1] "theta_m=5, theta_p=0.750"

In [61]:
head(match_df)

       HVAC off, Away HVAC on, Away HVAC off, Home HVAC on, Home theta_m
Edd              0.94          0.00           0.00          0.99       1
Emery            0.99          0.00           0.00          0.93       1
Grant            0.94          0.00           0.00          0.98       1
James            0.96          0.00           0.00          0.75       1
Jerome           0.88          0.00           0.00          0.36       1
George           0.00          0.97           0.57          0.26       1
       theta_t   name
Edd        0.1    Edd
Emery      0.1  Emery
Grant      0.1  Grant
James      0.1  James
Jerome     0.1 Jerome
George     0.1 George

In [59]:
head(accuracy_df)

            hvac     occup theta_m theta_t   name
Edd    0.8537928 0.6767307       1     0.1    Edd
Emery  0.9175893 0.6588173       1     0.1  Emery
Grant  0.7907188 0.7464146       1     0.1  Grant
James  0.6865139 0.6219250       1     0.1  James
Jerome 0.3750376 0.6643962       1     0.1 Jerome
George 0.4290460 0.9168943       1     0.1 George

In [60]:
save(list=c("match_df", "match_lst", "accuracy_df", "accuracy_lst"), 
     file=paste(MODEL_PATH, "detection_sensitivity_analysis.RData", sep=''))

##Plots & analysis

In [62]:
# Standard parameter values
theta_m0 = 2
theta_t0 = 0.5

Example user Nelson

In [63]:
subset(accuracy_df, name=='Nelson' & theta_m ==theta_m0 & theta_t==theta_t0)

              hvac     occup theta_m theta_t   name
Nelson22 0.8950406 0.8592178       2     0.5 Nelson

In [64]:
subset(match_df, name=='Nelson' & theta_m ==theta_m0 & theta_t==theta_t0)

         HVAC off, Away HVAC on, Away HVAC off, Home HVAC on, Home theta_m
Nelson22           0.98             0              0          0.94       2
         theta_t   name
Nelson22     0.5 Nelson

In [47]:
subset(truth_df, name=='Nelson' & theta_m ==theta_m0 & theta_t==theta_t0)

         HVAC off, Away HVAC on, Away HVAC off, Home HVAC on, Home theta_m
Nelson22           0.31          0.24           0.19          0.26       2
         theta_t   name
Nelson22     0.5 Nelson

In [48]:
subset(model_df, name=='Nelson' & theta_m ==theta_m0 & theta_t==theta_t0)

         HVAC off, Away HVAC on, Away HVAC off, Home HVAC on, Home theta_m
Nelson22           0.36             0              0          0.64       2
         theta_t   name
Nelson22     0.5 Nelson

Pick "standard" values for $\theta_m$ and $\theta_t$ and plot accuracy & match

In [90]:
f_plot_density <- function(df, xvar, c, w=NULL){
    df[,c] = as.factor(df[,c])
    pla = ggplot(df, aes_string(x = xvar, color = c, fill=c))
    pla = pla + geom_density(size=2, alpha=0.2, na.rm=T, kernel="rectangular")#, aes(y = ..scaled..)) 
    if (!is.null(w)) pla = pla + facet_wrap((as.formula(paste("~", w))), nrow = 2, scale='free')
    pla = pla + theme_bw() + 
    theme(panel.grid.major = element_blank(),
          panel.grid.minor = element_blank(),
          panel.background = element_blank(),
          strip.text.x     = element_text(size=20),
          axis.text.y      = element_text(size=20), 
          axis.text.x      = element_text(size=20),
          axis.title.y     = element_text(size=20),
          axis.title.x     = element_text(size=20),
          legend.title     = element_text(size=20),
          legend.text     = element_text(size=20),
          plot.title       = element_text(size=22),   
          axis.ticks = element_blank()) + 
    xlab(xvar) + ylab('pdf') + ggtitle(paste(xvar, "density by", c))  
    return(pla)
}

In [66]:
acc_df = melt(accuracy_df, id.vars=c("theta_m", "theta_t", "name"))
names(acc_df)[c(1,2,5)] = c("theta", "gamma", "accuracy")
head(acc_df)

  theta gamma   name variable  accuracy
1     1   0.1    Edd     hvac 0.8537928
2     1   0.1  Emery     hvac 0.9175893
3     1   0.1  Grant     hvac 0.7907188
4     1   0.1  James     hvac 0.6865139
5     1   0.1 Jerome     hvac 0.3750376
6     1   0.1 George     hvac 0.4290460

In [67]:
mat_df = melt(match_df, id.vars=c("theta_m", "theta_t", "name"))
names(mat_df)[c(1,2,4,5)] = c("theta", "gamma", "decision", "match")
head(mat_df)

  theta gamma   name       decision match
1     1   0.1    Edd HVAC off, Away  0.94
2     1   0.1  Emery HVAC off, Away  0.99
3     1   0.1  Grant HVAC off, Away  0.94
4     1   0.1  James HVAC off, Away  0.96
5     1   0.1 Jerome HVAC off, Away  0.88
6     1   0.1 George HVAC off, Away  0.00

In [91]:
fname = paste(PLOT_PATH, "accuracy_distribution_gamma_0_5.pdf", sep='/')
pdf(file=fname,width=7,height=5)
print(f_plot_density(subset(acc_df, (gamma==0.1) & (theta %in% c(1,2,3,4,5))), "accuracy", "theta", w="variable"))
dev.off()

Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).

pdf
  2

In [92]:
fname = paste(PLOT_PATH, "accuracy_distribution_theta_2.pdf", sep='/')
pdf(file=fname,width=7,height=5)
print(f_plot_density(subset(acc_df, gamma %in% c(0.1, 0.25, 0.5, 0.6) & (theta == 2)), "accuracy", "gamma", w="variable"))
dev.off()

Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).

pdf
  2

In [93]:
fname = paste(PLOT_PATH, "match_distribution_theta_2.pdf", sep='/')
pdf(file=fname,width=7,height=5)
print(f_plot_density(subset(mat_df, gamma %in% c(0.1, 0.25, 0.5, 0.6) & (theta == 2)), "match", "gamma", w="decision"))
dev.off()

Warning message:
In loop_apply(n, do.ply): Removed 5 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 2 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 5 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 2 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 1 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 1 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).

pdf
  2

In [94]:
fname = paste(PLOT_PATH, "match_distribution_gamma_0_5.pdf", sep='/')
pdf(file=fname,width=7,height=5)
print(f_plot_density(subset(mat_df, (gamma==0.5) & (theta %in% c(2,3,4,5))), "match", "theta", w="decision"))
dev.off()

Warning message:
In loop_apply(n, do.ply): Removed 1 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 1 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 1 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 1 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).Warning message:
In loop_apply(n, do.ply): Removed 7 rows containing non-finite values (stat_density).

pdf
  2

In [72]:
head(mat_df)

  theta gamma   name       decision match
1     1   0.1    Edd HVAC off, Away  0.94
2     1   0.1  Emery HVAC off, Away  0.99
3     1   0.1  Grant HVAC off, Away  0.94
4     1   0.1  James HVAC off, Away  0.96
5     1   0.1 Jerome HVAC off, Away  0.88
6     1   0.1 George HVAC off, Away  0.00

Sensitivity analysis for accuracy & match

In [73]:
head(accuracy_df)

            hvac     occup theta_m theta_t   name
Edd    0.8537928 0.6767307       1     0.1    Edd
Emery  0.9175893 0.6588173       1     0.1  Emery
Grant  0.7907188 0.7464146       1     0.1  Grant
James  0.6865139 0.6219250       1     0.1  James
Jerome 0.3750376 0.6643962       1     0.1 Jerome
George 0.4290460 0.9168943       1     0.1 George

In [74]:
avg_acc_occup = aggregate(occup ~ theta_m + theta_t, data=accuracy_df, FUN=mean)
avg_acc_hvac = aggregate(hvac ~ theta_m + theta_t, data=accuracy_df, FUN=mean)
acc_range = range(accuracy_df[,c('hvac', 'occup')])

In [75]:
avg_acc_occup = dcast(avg_acc_occup, theta_t ~ theta_m)
rownames(avg_acc_occup) = avg_acc_occup$theta_t
avg_acc_occup$theta_t = NULL

Using occup as value column: use value.var to override.

In [108]:
fname_1 = paste(PLOT_PATH, "avg_accuracy_occup.pdf", sep='/')
pdf(file = fname_1, 5, 4)
mar.default <- c(5,4,4,2) + 0.1
par(mar = mar.default + c(0, 1, 0, 0)) 
image.plot(as.numeric(rownames(avg_acc_occup)), as.numeric(colnames(avg_acc_occup)),  as.matrix(avg_acc_occup),
                 xlab = 'gamma', 
                 ylab = 'theta',
                 cex.main=2, cex.lab=2, cex.axis=2,
                 main = 'Accuracy: Occupancy Detection')
dev.off()

pdf
  2

In [77]:
avg_acc_hvac = dcast(avg_acc_hvac, theta_t ~ theta_m)
rownames(avg_acc_hvac) = avg_acc_hvac$theta_t
avg_acc_hvac$theta_t = NULL

Using hvac as value column: use value.var to override.

In [107]:
fname_1 = paste(PLOT_PATH, "avg_accuracy_hvac.pdf", sep='/')
pdf(file = fname_1, 5, 4)
mar.default <- c(5,4,4,2) + 0.1
par(mar = mar.default + c(0, 1, 0, 0)) 
image.plot(as.numeric(rownames(avg_acc_hvac)), as.numeric(colnames(avg_acc_hvac)),  as.matrix(avg_acc_hvac),
                 xlab = 'gamma', 
                 ylab = 'theta',
                 cex.main=2, cex.lab=2, cex.axis=2,
                 main = 'Accuracy: HVAC Detection')
dev.off()

pdf
  2

In [79]:
names(match_df) = make.names(names(match_df))

In [80]:
avg_match_1 = aggregate(HVAC.off..Away~theta_m + theta_t, data=match_df, FUN=mean)
avg_match_1 = dcast(avg_match_1, theta_t ~ theta_m)
rownames(avg_match_1) = avg_match_1$theta_t
avg_match_1$theta_t = NULL

Using HVAC.off..Away as value column: use value.var to override.

In [101]:
fname_1 = paste(PLOT_PATH, "avg_match_hvac_off_away.pdf", sep='/')
pdf(file = fname_1, 5, 4)
mar.default <- c(5,4,4,2) + 0.1
par(mar = mar.default + c(0, 1, 0, 0)) 
image.plot(as.numeric(rownames(avg_match_1)), as.numeric(colnames(avg_match_1)),  as.matrix(avg_match_1),
                 zlim = c(0,1),
                 xlab = 'gamma', 
                 ylab = 'theta',
                 cex.main=2, cex.lab=2, cex.axis=2,
                 main = 'Avg. Match: HVAC off, Away')
dev.off()

pdf
  2

In [83]:
avg_match_2 = aggregate(HVAC.on..Away~theta_m + theta_t, data=match_df, FUN=mean)
avg_match_2 = dcast(avg_match_2, theta_t ~ theta_m)
rownames(avg_match_2) = avg_match_2$theta_t
avg_match_2$theta_t = NULL

Using HVAC.on..Away as value column: use value.var to override.

In [102]:
fname_1 = paste(PLOT_PATH, "avg_match_hvac_on_away.pdf", sep='/')
pdf(file = fname_1, 5, 4)
mar.default <- c(5,4,4,2) + 0.1
par(mar = mar.default + c(0, 1, 0, 0)) 
image.plot(as.numeric(rownames(avg_match_2)), as.numeric(colnames(avg_match_2)),  as.matrix(avg_match_2),
                 zlim = c(0,1),
                 xlab = 'gamma', 
                 ylab = 'theta',
                 cex.main=2, cex.lab=2, cex.axis=2,
                 main = 'Avg. Match: HVAC on, Away')
dev.off()

pdf
  2

In [85]:
avg_match_3 = aggregate(HVAC.off..Home~theta_m + theta_t, data=match_df, FUN=mean)
avg_match_3 = dcast(avg_match_3, theta_t ~ theta_m)
rownames(avg_match_3) = avg_match_3$theta_t
avg_match_3$theta_t = NULL

Using HVAC.off..Home as value column: use value.var to override.

In [103]:
fname_1 = paste(PLOT_PATH, "avg_match_hvac_off_home.pdf", sep='/')
pdf(file = fname_1, 5, 4)
mar.default <- c(5,4,4,2) + 0.1
par(mar = mar.default + c(0, 1, 0, 0)) 
image.plot(as.numeric(rownames(avg_match_3)), as.numeric(colnames(avg_match_3)),  as.matrix(avg_match_3),
                 zlim = c(0,1),
                 xlab = 'gamma', 
                 ylab = 'theta',
                 cex.main=2, cex.lab=2, cex.axis=2,
                 main = 'Avg. Match: HVAC off, Home')
dev.off()

pdf
  2

In [87]:
avg_match_4 = aggregate(HVAC.on..Home~theta_m + theta_t, data=match_df, FUN=mean)
avg_match_4 = dcast(avg_match_4, theta_t ~ theta_m)
rownames(avg_match_4) = avg_match_4$theta_t
avg_match_4$theta_t = NULL

Using HVAC.on..Home as value column: use value.var to override.

In [104]:
fname_1 = paste(PLOT_PATH, "avg_match_hvac_on_home.pdf", sep='/')
pdf(file = fname_1, 5, 4)
mar.default <- c(5,4,4,2) + 0.1
par(mar = mar.default + c(0, 1, 0, 0)) 
image.plot(as.numeric(rownames(avg_match_4)), as.numeric(colnames(avg_match_4)),  as.matrix(avg_match_4),
                 zlim = c(0,1),
                 xlab = 'gamma', 
                 ylab = 'theta',
                 cex.main=2, cex.lab=2, cex.axis=2,
                 main = 'Avg. Match: HVAC on, Home')
dev.off()

pdf
  2